/* ========== GENERAL ========== */

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #ddd;
  line-height: 1.4;
}
h2 {
  font-size: 3rem;
  font-weight: 300;
}

/* ========== GALLERY ========== */

/* Container */
.gallery {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* Card */
.card {
  background-color: #fcfcfc;
  margin: 2rem auto;
  max-width: 600px;
}
.card-content {
  padding: 4rem;
}
.card-photo {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}
.card-label h2 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}
.card-label p {
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
  margin: 2rem 0 0 0;
}
p.card-date {
  color: #999;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem;
}

/* ========== FOOTER ========== */

.footer {
  background-color: #2f2f2f;
  width: 100%;
}
.footer-content {
  color: white;
  margin: auto;
  padding: 4rem;
  text-align: center;
}
